.form-add{
    margin-left: 5rem;
}

.input{
    display: inline;
    width: 80%;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float: right;
}
.switch{
    display: inline;
    width: 60%;
    color: #212529;
    background-color: #f5f5f5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float: right;
}

.input-line{

    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.product-description{
    margin-top: 20px;
}
.product-description > p{
    margin: 0;
}

.errorMessages{
    background-color: rgba(255, 160, 166, 0.44);
    border: 1px solid #ff9c9c;
    border-radius: 5px;
    padding: 10px;
}

.errorMessages > li{
    margin-left: 15px;
}

.errorMessages > li::marker{
    color: #da4545;
}